:root {
  --intro-bar-height: 140px
}


/* Project page styles */
.project-container {
  // padding-top: var(--header-height);
}

#project-slideshow {
  position: sticky;
  top: calc(var(--header-height));
  height: calc(100vh - var(--header-height) - var(--intro-bar-height));
}

