:root {
  --intro-bar-height: 140px
}

@import '../../../components/RelatedProjects/RelatedProjects.scss';

/* Project page styles */
.project-container {
  position: relative;
  // padding-top: var(--header-height);
}

#project-slideshow {
  position: sticky;
  top: calc(var(--header-height) - var(--intro-bar-height));
  height: auto;
  padding-top: var(--header-height);
}

