@import 'tailwindcss';

@theme {
  /* Brand colors */
  --color-beige: #EFEBD9;
  --color-red: #E05537;
  --color-purple: #D6C0DA;
  --color-blue: #5CA4E9;
  --color-yellow: #F2EB85;
  --color-taupe: #B8B6A3;
  --color-green: #558877;
  --color-black: #1F1D1D;
  --basic-padding: 16px;
  --font-sans: "futura-pt", sans-serif;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-futura-medium: "futura-pt", sans-serif;
  --font-futura-bold: "futura-pt-bold", sans-serif;
}



@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* font-family: var(--font-futura-medium); */
  margin: 0;
  padding: 0;
}

#wrapper > * {
  padding-top: 64px;
}

.futura {
  font-family: var(--font-futura-medium);
}

.futura-medium {
  font-family: var(--font-futura-medium);
  font-weight: 500;
}

.futura-bold {
  font-family: var(--font-futura-bold);
  font-weight: 700;
}

.big-paragraph {
  font-family: var(--font-futura-medium);
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0%;
}

.basic-padding {
  padding: var(--basic-padding);
}


