@import 'tailwindcss';

/* Font declarations */
@font-face {
  font-family: "apris";
  src: url("/fonts/Apris-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("/fonts/founders-grotesk-mono-regular.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Brand colors */
  --color-beige: #EFEBD9;
  --color-red: #E05537;
  --color-purple: #D6C0DA;
  --color-blue: #5CA4E9;
  --color-yellow: #F2EB85;
  --color-taupe: #B8B6A3;
  --color-green: #558877;
  --color-black: #1F1D1D;
  --basic-padding: 16px;
  --font-sans: "futura-pt", sans-serif;
  --font-serif: "apris", serif;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-futura-medium: "futura-pt", sans-serif;
  --font-futura-bold: "futura-pt-bold", sans-serif;
  --font-apris: "apris", serif;
  --font-founders-grotesk: "Founders Grotesk", monospace;
  --header-height: 75px;
}



@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  /* font-family: var(--font-futura-medium); */
  margin: 0;
  padding: 0;
  transition: background-color 500ms ease, color 500ms ease;
}

/* Fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out;
}

#wrapper.not-studio #main-scroll {
  padding-top: 0;
}

#wrapper.not-studio > * {
  padding-top: var(--header-height);
}

.futura {
  font-family: var(--font-futura-medium);
}

.futura-medium {
  font-family: var(--font-futura-medium);
  font-weight: 500;
}

.futura-bold {
  font-family: var(--font-futura-bold);
  font-weight: 700;
}

.apris {
  font-family: var(--font-apris);
}

.serif-header {
  font-weight: 300;
  font-style: Light;
  font-size: 68px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: var(--font-apris);
}


.big-serif-header {
  font-weight: 300;
  font-style: Light;
  font-size: 90px;
  line-height: 100%;
  letter-spacing: 0%;
  font-family: var(--font-apris);
}

@media (max-width: 768px) {
  .big-serif-header {
    font-size: 60px;
  }
}

.big-paragraph {
  font-weight: 500;
  font-style: Medium;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 0%;
}

.basic-padding {
  padding: var(--basic-padding);
}

.founders-grotesk {
  font-family: var(--font-founders-grotesk);
}


.mono-tag {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
}

.has-tag {
  position: relative;
}

.about-text {
  font-family: var(--font-futura-medium);
  font-weight: 500;
  font-style: Medium;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0%;

}

.gridBlurb {
    font-weight: 200;
    strong {
        font-weight: 800;
        font-family: var(--font-futura-bold);
    }
}


